<!-- Header Section Start -->
    <header id="home" class="hero-area-2">    
      <div class="overlay"></div>
      <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
        <div class="container">
          <a href="/" class="navbar-brand"><img src="assets/img/logo-white-32.png" alt=""> CopyCat</a>  
        </div>
      </nav>           
    </header>
    <!-- Header Section End --> 

    <!-- Subcribe Section Start -->
    <div id="subscribe" class="section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7 col-md-12 col-xs-12">
            <div class="subscribe-form">
              <div class="form-wrapper">
                <div class="sub-title text-center">
                    <h3>Success</h3>
                    <p>
                        You have successfully installed CopyCat in your workspace.
                    </p>
                    <p>
                        <a href="/" class="btn btn-border">Go Home</a>
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Subcribe Section End -->